<aside class="tooltip">
  <img id="question-icon" class="icon question tooltip-toggle" src="img/question-dark.svg" alt="Question mark in a circle icon" />
  <span class="tooltip-content hide">
    <dl>
      <dt class="question">What does this site do?</dt>
      <dd class="answer">
        This website only lets one person in at a time. Everyone else has to wait.
      </dd>
      <dt class="question">That's&hellip;it?</dt>
      <dd class="answer">
        Yes.
      </dd>
      <dt class="question">Ok but why?</dt>
      <dd class="answer">
        I built a <a href="https://heylookat.us/" target="_blank">website</a> that shows you how many people are on it. Then <a href="https://twitter.com/heyboyle" target="_blank">someone</a> said I should build one that only lets one person in. So I did.
      </dd>
      <dt class="question whats-inside">What's on the inside?</dt>
      <dd class="answer whats-inside">
        The only way to find out is to wait your turn.
      </dd>
      <dt class="question">How does it work?</dt>
      <dd class="answer">
        You can see and remix <a href="https://glitch.com/~im-here-for-me" target="_blank">the code</a> on Glitch.
      </dd>
      <dt class="question">Who made this?</dt>
      <dd class="answer">
        <a href="https://twitter.com/hoffm" target="_blank">Michael Hoffman</a>.
      </dd>
    </dl>
  </span>
</aside>