<head>
  <meta charset="utf-8" />
  <link rel="icon" href="#" />
  <link id="favicon" rel="icon" href="#" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>i'm here for me.</title>
  <link rel="stylesheet" href="css/style.css" />
  <script type="text/javascript" src="js/ssl.js"></script>
  <script type="text/javascript" src="js/sync.js" defer></script>
  <script type="text/javascript" src="js/tooltip.js" defer></script>
  <script data-domain="imherefor.me" src="https://plausible.io/js/plausible.js" defer></script>
</head>