<article id="content" class="inside">
  <h1>
    Congratulations
  </h1>
  
  <h2>
    Only you can see this website.
  </h2>
  
  <p id="suckers"></p><br/>

  
  <img class="trophy glow" src="https://cdn.glitch.global/1543e9b8-e528-46e7-9375-25300add0f54/trophy.gif?v=1646925832589" alt="clip art animated gleaming first place trophy"/>
<br/>
  
  <p>
    Don't leave or you'll lose your spot.
  </p><br/>

  <a id="tweet" href="#" target="_blank">
    <img class="icon twitter" src="img/twitter.svg" alt="Twitter icon" />
  </a>
</article>