<article id="content" class="outside">
  <h1>
    Website Occupied    
  </h1>
  
  <h2>
    You're number
    <span id="inFrontCount"></span> of
    <span id="waitingCount"></span> in line.
  </h2>
  
  <img class="lock" src="img/lock.svg" alt="large grey padlock icon" />
  
  <p>
    Don't leave or you'll lose your spot.
  </p>
  
  <a id="tweet" href="#" target="_blank">
    <img class="icon twitter" src="img/twitter-dark.svg" alt="Twitter icon" />
  </a>
</article>